<div class="row">
    <div class="col-md-8">
        <%= form_for @collection, url: {action: "create_collection" } do |c| %>
            <div class="form-group">
                <%= c.label :amount %>
                <%= c.number_field :amount %>
            </div>
            <div class="form-group">
                <%= c.label :reference %>
                <%= c.text_field :reference %>
            </div>
            <div class="form-group">
                <%= c.label :Collection_Date %>
                <%= c.date_field :collection_date %>
            </div>
            <%= c.submit %>
        <% end %>
    </div>
</div>
